<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobdeve.group5.archersnav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArchersNav"
        tools:targetApi="31">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Authentication-related activities -->
        <activity
            android:name=".ui.activity.introduction.DefaultActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.introduction.ui.signin.SignInActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.activity.introduction.ui.signup.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <!-- Emergency and Campus-related activities -->
        <activity
            android:name=".ui.activity.main.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:label="@string/title_activity_main" >

        </activity>
        <activity
            android:name=".StepCounterActivity"
            android:exported="true" />
        <activity
            android:name=".EmergencyInfoActivity"
            android:exported="true" />
        <activity
            android:name=".CampusMapActivity"
            android:exported="true" />
        <activity
            android:name=".SavedLocationsActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".EmergencyProceduresActivity"
            android:exported="true" />
        <activity
            android:name=".EmergencyContactActivity"
            android:exported="true" />
        <activity
            android:name=".EvacuationAreasActivity"
            android:exported="true" />
        <activity
            android:name=".MobilityAccessActivity"
            android:exported="true" /> <!-- Newly added activities -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityHistory"
            android:exported="true" />
        <activity
            android:name=".RealTimeDirectionsActivity"
            android:exported="true" />
        <activity
            android:name=".FacilityFinderActivity"
            android:exported="true" /> <!-- Contact management activities -->
        <activity
            android:name=".AddContactActivity"
            android:exported="true" />
        <activity
            android:name=".ContactDetailActivity"
            android:exported="true" />
        <activity
            android:name=".EditContactActivity"
            android:exported="true" /> <!-- Emergency procedure activities -->
        <activity
            android:name=".FireEmergencyActivity"
            android:exported="true" />
        <activity
            android:name=".EarthquakeEmergencyActivity"
            android:exported="true" />
        <activity
            android:name=".BullyingActivity"
            android:exported="true" />
        <activity
            android:name=".BombThreatActivity"
            android:exported="true" />
        <activity
            android:name=".HealthEmergencyActivity"
            android:exported="true" />
        <activity
            android:name=".HelpSupportActivity"
            android:exported="true" />
    </application>

</manifest>